{
  email admin@anasstore.com.br
  acme_dns route53 {
    aws_access_key_id {env.AWS_ACCESS_KEY_ID}
    aws_secret_access_key {env.AWS_SECRET_ACCESS_KEY}
    aws_region us-east-1
  }
}

{$APP_DOMAIN} {
  encode zstd gzip
  reverse_proxy frontend:80
}
